<body>
  <header>
    <img src="assets/logo/logo.png" />
    <form id="filter-form" class="filter-form">
      <input
        id="filter-input"
        class="filter-input"
        placeholder="Search Bird Sanctuaries"
      />
      <button type="submit">X</button>
    </form>
    <!-- <input id="searchSacturies" placeholder="Search Bird Sanctuaries" /> -->
  </header>
  <main>
    <section class="listSection">
      <h1>
        Bird Sanctuaries
      </h1>
      <ul>
        <li>
          Keoladeo National Park
        </li>
        <li>
          Sultanpur Bird Sanctuaru
        </li>
        <li>
          Salim Ali Bird Sanctuary
        </li>
        <li>
          Kumarakom Bird Sanctuary
        </li>
        <li>
          Vendanthangal Bird Sanctuary
        </li>
        <li>
          Chilika Lake Bird Sanctuary
        </li>
        <li>
          Chintamani Kar Bird Sanctuary
        </li>
        <li>
          Kutch Great Indian Bustard Sanctuary
        </li>
      </ul>
    </section>
  </main>
</body>
