<body>
  <header>
    <img src="assets/logo/logo.png" />
  </header>
  <main>
    <!-- <div #map style="width:100%;height:400px"></div> -->
    <agm-map
      [latitude]="20.593684"
      [longitude]="78.96288"
      [zoom]="4"
      [styles]="mapStyle"
      style="height: 100%; width: 100%;"
    >
      <agm-marker
        *ngFor="let marker of birdSanctuaryList"
        [latitude]="marker.position.lat"
        [longitude]="marker.position.lng"
        (markerClick)="clickMarker(marker.title)"
      >
      </agm-marker
    ></agm-map>

    <section class="listSection">
      <div id="listSectionDiv">
        <button
          class="collapseListButton"
          attr.aria-expanded="{{
            this.listState === true ? expanded : collapsed
          }}"
          aria-label="Main menu"
          role="button"
          tabindex="0"
          (click)="collapseList()"
        >
          <div>
            <svg
              id="Group_5"
              data-name="Group 5"
              xmlns="http://www.w3.org/2000/svg"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              [ngClass]="{
                svggroups1: listState === true,
                svggroupd1: listState === false
              }"
            >
              <circle
                id="Ellipse_29"
                data-name="Ellipse 29"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_30"
                data-name="Ellipse 30"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(4 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_31"
                data-name="Ellipse 31"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(8 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_35"
                data-name="Ellipse 35"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_34"
                data-name="Ellipse 34"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(16 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_32"
                data-name="Ellipse 32"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(20 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_33"
                data-name="Ellipse 33"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(24 12)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_36"
                data-name="Ellipse 36"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_37"
                data-name="Ellipse 37"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(4 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_38"
                data-name="Ellipse 38"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(8 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_39"
                data-name="Ellipse 39"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 4)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_40"
                data-name="Ellipse 40"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(4 4)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_41"
                data-name="Ellipse 41"
                cx="1.5"
                cy="1.5"
                r="1.5"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_42"
                data-name="Ellipse 42"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(24 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_43"
                data-name="Ellipse 43"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(20 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_44"
                data-name="Ellipse 44"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(16 8)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_45"
                data-name="Ellipse 45"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(24 4)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_46"
                data-name="Ellipse 46"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(20 4)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_47"
                data-name="Ellipse 47"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(24)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_48"
                data-name="Ellipse 48"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(4 16)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_49"
                data-name="Ellipse 49"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(8 16)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_50"
                data-name="Ellipse 50"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12 16)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_51"
                data-name="Ellipse 51"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(16 16)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_52"
                data-name="Ellipse 52"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(20 16)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_53"
                data-name="Ellipse 53"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(8 20)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_54"
                data-name="Ellipse 54"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12 20)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_55"
                data-name="Ellipse 55"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(16 20)"
                fill="#2144c0"
              />
              <circle
                id="Ellipse_56"
                data-name="Ellipse 56"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12 24)"
                fill="#2144c0"
              />
            </svg>
          </div>
        </button>

        <form id="filter-form" class="filter-form">
          <input
            id="filter-input"
            class="filter-input"
            placeholder="Search Bird Sanctuaries"
          />
          <button type="submit">X</button>
        </form>
        <ul [ngClass]="{ hideList: listState === false }">
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Keoladeo National Park"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Keoladeo National Park</label
            >
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Sultanpur National Park"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Sultanpur Bird Sanctuaru</label
            >
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Salim Ali Bird Sanctuary"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Salim Ali Bird Sanctuary
            </label>
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Kumarakom Bird Sanctuary"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Kumarakom Bird Sanctuary</label
            >
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Vedanthangal Bird Sanctuary"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Vendanthangal Bird Sanctuary</label
            >
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Chilika Lake"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Chilika Lake Bird Sanctuary</label
            >
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Chintamoni Kar Bird Sanctuary"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Chintamani Kar Bird Sanctuary
            </label>
          </li>
          <li class="sactuary-list-item">
            <label>
              <input
                type="radio"
                value="Kutch Bustard Sanctuary"
                (change)="selectSanctuary()"
                [formControl]="birdSanctuarySelection"
              />Kutch Great Indian Bustard Sanctuary</label
            >
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
