html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  height: 100%;
  width: 100%;
  header {
    height: 60px;
    background: #0f1e64;
    border-bottom: 1px solid #2144c0;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    width: fit-content;
    position: fixed;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    box-shadow: 6px 6px 13px #00000015;
    z-index: 1000;
    img {
      height: 50px;
      margin: 5px 3vw;
    }


    
  }
  main {
    display: grid;
    grid-template-rows: 1fr auto;
    // grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    // grid-auto-flow: row;
    height: 100vh;
  }
}

.listSection {
  // position: fixed;
  // bottom: 15px;
  // left: 15px;
  // right: 15px;
  padding: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 450px;
  background: #0f1e64;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 12px #00000016;
  // color: #ffff00;
  h1 {
    font-family: "Playfair Display";
    border-bottom: 1px solid #00ffff;
    font-size: 21px;
    line-height: 35px;
  }

  form {
    background: #23297a;
    border: 1px solid #ffff00;
    margin: 10px;
    background: #ffffff00;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    /* width: 75%; */

    input {
      background: #ffffff00;
      border: none;
      font-family: "Quicksand";
      color: #ffff00;
      font-size: 12px;
      font-weight:  500;
      letter-spacing: 1px;
      width: 100%;
      &:focus {
        border: none;
        outline: none;
      }
      &::placeholder {
        color: #ffff0090;
      }
    }
    button {
      background: #ffffff00;
      border: 0;
      outline: 0;
      padding: 0;
      transition: all 200ms ease-in;
      cursor: pointer;
      /* margin: auto; */
      color: #ffff00;
      font-family: 'Poppins';
      font-weight: 900;
      z-index: 99;
      text-align: right;
      // width: 2vw;
      margin: 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    margin: 10px 20px;
    li {
      font-family: "Quicksand";
      font-size: 13px;
      margin: 10px auto 10px 0;
      label {
        input {
        display: none;
      }
    }

    }
  }
}
