html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}


/* --------------------------------------------------------------------------------- */
/* --------------------------- END OF RESET CSS ------------------------------------ */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/* --------------------------- START OF MOBILE CSS --------------------------------- */
/* --------------------------------------------------------------------------------- */

body {
  height: 100%;
  width: 100%;
  header {
    height: 60px;
    background: #0f1e64;
    border-bottom: 1px solid #2144c0;
    display: grid;
    transition: 0.3s ease;
    // grid-template-columns: 1fr 1fr;
    width: fit-content;
    position: fixed;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    box-shadow: 6px 6px 13px #00000015;
    z-index: 1000;
    img {
      height: 50px;
      margin: 5px 3vw;
    }


    
  }
  main {
    display: grid;
    transition: 0.3s ease;
    grid-template-rows: 1fr auto;
    height: 100vh;

    section {
      .collapseListButton {
        height: 60px;
        width: 60px;
        background: #ffff00;
        position: relative;
        top: 0;
        right: 0;
        grid-row: 1/2;
        margin: -40px auto 18px auto;
        border-radius: 30px;
        // filter: blur(20px); 
        display: grid;
        justify-content: center;
        align-items: center;
        div {
          display: grid;
          justify-content: center;
          img {
            height: 30px;
            width: 30px;
            z-index: 1000;  
          }
          svg {
            // height: 25px;
            // width: 25px;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
}

.listSection {
  padding: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 450px;
  background: #142270;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 12px #00000016;
  transition: all ease-in 0.4s;
  height: fit-content;
  div {

    h1 {
      font-family: "Playfair Display";
      border-bottom: 1px solid #00ffff;
      font-size: 21px;
      line-height: 35px;
    }
  
    form {
      background: #23297a;
      border: 1px solid #ffff00;
      margin: 10px;
      background: #ffffff00;
      border-radius: 5px;
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      /* width: 75%; */
  
      input {
        background: #ffffff00;
        border: none;
        font-family: "Quicksand";
        color: #ffff00;
        font-size: 12px;
        font-weight:  500;
        letter-spacing: 1px;
        width: 100%;
        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          color: #ffff0090;
        }
      }
      button {
        background: #ffffff00;
        border: 0;
        outline: 0;
        padding: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
        /* margin: auto; */
        color: #ffff00;
        font-family: 'Poppins';
        font-weight: 900;
        z-index: 99;
        text-align: right;
        // width: 2vw;
        margin: 0;
      }
    }
  
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 80%;
      margin: 10px 20px;
      transition: all ease-in 0.4s;
      li {
        font-family: "Quicksand";
        font-size: 13px;
        margin: 10px auto 10px 0;
        label {
          input {
          display: none;
        }
      }
  
      }
    }
  }

}


.hideList {

  animation: shrink 3s ease-in-out infinite alternate;  // height: 0 !important;
  margin: 0;
  li {
    display: none;
    margin: 0 !important;
  }
}

.groups1 {
  transform: translate(0px, 0px);
  transform-origin: 50% 50%;
}

.circles1 {
  transform: translate(12px);
  transition: 0.2s ease-in;
}
.circles2 {
  transform: translate(16px, 4px);
  transition: 0.2s ease-in;
}
.circles3 {
  transform: translate(12px, 4px);
  transition: 0.2s ease-in;
}
.circles4 {
  transform: translate(8px, 4px);
  transition: 0.2s ease-in;
}
.circles5 {
  transform: translate(20px, 8px);
  transition: 0.2s ease-in;
}
.circles6 {
  transform: translate(16px, 8px);
  transition: 0.2s ease-in;
}
.circles7 {
  transform: translate(12px, 8px);
  transition: 0.2s ease-in;
}
.circles8 {
  transform: translate(8px, 8px);
  transition: 0.2s ease-in;
}
.circles9 {
  transform: translate(4px, 8px);
  transition: 0.2s ease-in;
}
.circles10 {
  transform: translate(24px, 24px);
  transition: 0.2s ease-in;
}
.circles11 {
  transform: translate(20px, 20px);
  transition: 0.2s ease-in;
}
.circles12 {
  transform: translate(24px, 20px);
  transition: 0.2s ease-in;
}
.circles13 {
  transform: translate(16px, 16px);
  transition: 0.2s ease-in;
}
.circles14 {
  transform: translate(20px, 16px);
  transition: 0.2s ease-in;
}
.circles15 {
  transform: translate(24px, 16px);
  transition: 0.2s ease-in;
}
.circles16 {
  transform: translate(0px, 24px);
  transition: 0.2s ease-in;
}
.circles17 {
  transform: translate(4px, 20px);
  transition: 0.2s ease-in;
}
.circles18 {
  transform: translate(0px, 20px);
  transition: 0.2s ease-in;
}
.circles19 {
  transform: translate(8px, 16px);
  transition: 0.2s ease-in;
}
.circles20 {
  transform: translate(4px, 16px);
  transition: 0.2s ease-in;
}
.circles21 {
  transform: translate(0px, 16px);
  transition: 0.2s ease-in;
}
.circles22 {
  transform: translate(24px, 12px);
  transition: 0.2s ease-in;
}
.circles23 {
  transform: translate(20px, 12px);
  transition: 0.2s ease-in;
}
.circles24 {
  transform: translate(16px, 12px);
  // transform-origin: 0% 0%;
  transition: 0.2s ease-in;
}
.circles25 {
  transform: translate(12px, 12px);
  transition: 0.2s ease-in;
}
.circles26 {
  transform: translate(8px, 12px);
  transition: 0.2s ease-in;
}
.circles27 {
  transform: translate(4px, 12px);
  transition: 0.2s ease-in;
}
.circles28 {
  transform: translate(0px, 12px);
  transition: 0.2s ease-in;
}

.groupd1 {
  transform: translate(-18px, -14px);
  transition: 0.2s ease-in;
}



@keyframes shrink{
  to{
    height: 0px;
  }
}