<body>
  <header>
    <img src="assets/logo/logo.png" />
  </header>
  <main>
      <!-- <div #map style="width:100%;height:400px"></div> -->
      <agm-map [latitude]="20.593684" [longitude]="78.96288" [zoom]="4" style="height: 100%; width: 100%;"></agm-map>

    <section class="listSection">

      <form id="filter-form" class="filter-form">
          <input id="filter-input" class="filter-input" placeholder="Search Bird Sanctuaries" />
          <button type="submit">X</button>
        </form>
      <ul>
        <li><label>
            <input type="radio" value="Keoladeo National Park" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Keoladeo National Park</label>
        </li>
        <li><label>
            <input type="radio" value="Sultanpur National Park" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Sultanpur Bird Sanctuaru</label>
        </li>
        <li><label>
            <input type="radio" value="Salim Ali Bird Sanctuary" (change)="selectSanctuary()" [formControl]="birdSanctuarySelection" />Salim
            Ali Bird Sanctuary </label>
        </li>
        <li><label>
            <input type="radio" value="Kumarakom Bird Sanctuary" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Kumarakom Bird Sanctuary</label>
        </li>
        <li>
          <label>
            <input type="radio" value="Vedanthangal Bird Sanctuary" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Vendanthangal Bird Sanctuary</label>
        </li>
        <li>
          <label>
            <input type="radio" value="Chilika Lake" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Chilika Lake Bird Sanctuary</label>
        </li>
        <li>
          <label>
            <input type="radio" value="Chintamoni Kar Bird Sanctuary" (change)="selectSanctuary()"
              [formControl]="birdSanctuarySelection" />Chintamani Kar Bird Sanctuary </label>
        </li>
        <li>
          <label>
            <input type="radio" value="Kutch Bustard Sanctuary" (change)="selectSanctuary()" [formControl]="birdSanctuarySelection" />Kutch
            Great Indian Bustard Sanctuary</label>
        </li>
      </ul>
    </section>
  </main>
</body>